@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "404 error";
}


<h1 class="text-center ">404 error</h1>
<p  class="text-center"><a href="/">Return home</a></p>
