@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<script>
    function validateEmail() {
        var str = document.getElementById('email').value;
        var re = /\S+@@\S+\.\S+/;
        if (re.test(str) == false) {
            document.getElementById("emailVal").innerHTML = "Please enter a valid email address (client validation)";
            document.getElementById("emailVal").style.color = "red";
        }
        else {
            document.getElementById("emailVal").innerHTML = "Nice email address (client validation)";
            document.getElementById("emailVal").style.color = "green";
        }
    }

    function validatePswd() {
        var str = document.getElementById('password').value;
        const re = /^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{12,30}$/
        console.log(re.test(str))
        if (re.test(str) == false) {
            document.getElementById("passwordVal").innerHTML = "Password must Use combination of 12 characters, lower-case, upper-case, Numbers and special characters (client validation)";
            document.getElementById("passwordVal").style.color = "red";
        }
        else {
            document.getElementById("passwordVal").innerHTML = "Password is suitable (client validation)";
            document.getElementById("passwordVal").style.color = "green";
        }
    }
</script>
<div class="row">
    <div class="col-md h6 ">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login"><b>Sign In</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Sign Up</a>
                    </li>
                </ul>
            </div>

            <div class="card-content">
                <div class=" col-md 12">
                    <form id="account" method="post">
                        <h4 class="mt-2">Use a local account to log in.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control"  onkeyup="javascript:validateEmail()" id="email" />
                            <span asp-validation-for="Input.Email" id="emailVal" style="color:red"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control"  onkeyup="javascript:validatePswd()" id="password" />
                            <span asp-validation-for="Input.Password" id="passwordVal" style="color:red"></span>
                        </div>
                        @*<div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}