@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<script>
    function cardnumberval() {
        var inputtxt = document.getElementById('cardnum').value;
        var re = /^(?:3[47][0-9]{13})$/;
        if (re.test(inputtxt)) {
            document.getElementById("cardVal").innerHTML = "valid credit card (client validation)";
            document.getElementById("cardVal").style.color = "green";
        }
        else {
            console.log("Not a valid Amercican Express credit card number!");
            var re2 = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
            if (re2.test(inputtxt)) {
                document.getElementById("cardVal").innerHTML = "valid credit card(client validation)";
                document.getElementById("cardVal").style.color = "green";
            }
            else {
                console.log("Not a valid visa credit card number!");
                var re3 = /^(?:5[1-5][0-9]{14})$/
                if (re3.test(inputtxt)) {
                    document.getElementById("cardVal").innerHTML = "valid credit card (client validation)";
                    document.getElementById("cardVal").style.color = "green";
                }
                else {
                    console.log("Not a valid mastercard credit card number!");
                    document.getElementById("cardVal").innerHTML = "invalid credit card (client validation)";
                    document.getElementById("cardVal").style.color = "red";
                }
            }
        }
    }
   
    function validateEmail()
    {
        var str = document.getElementById('email').value;
        var re = /\S+@@\S+\.\S+/;
        if (re.test(str) == false) {
            document.getElementById("emailVal").innerHTML = "Please enter a valid email address (client validation)";
            document.getElementById("emailVal").style.color = "red";
        }
        else {
            document.getElementById("emailVal").innerHTML = "Nice email address (client validation)";
            document.getElementById("emailVal").style.color = "green";
        }
    }

    function validatePswd() {
        var str = document.getElementById('password').value;
        const re = /^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{12}$/
        console.log(re.test(str))
        if (re.test(str) == false) {
            document.getElementById("passwordVal").innerHTML = "Password must Use combination of 12 characters, lower-case, upper-case, Numbers and special characters (client validation)";
            document.getElementById("passwordVal").style.color = "red";
        }
        else {
            document.getElementById("passwordVal").innerHTML = "Password is suitable (client validation)";
            document.getElementById("passwordVal").style.color = "green";
        }
    }

    function validateConfirmPswd() {
        var str = document.getElementById('confirmPswd').value;
        console.log(str);
        if (str == document.getElementById('password').value) {
            document.getElementById("passwordConfirmVal").innerHTML = "Password match (client validation)";
            document.getElementById("passwordConfirmVal").style.color = "green";
        }
        else {
            document.getElementById("passwordConfirmVal").innerHTML = "Password does not match (client validation)";
            document.getElementById("passwordConfirmVal").style.color = "red";
        }
    }
</script>

<div class="row">
    <div class="col-md h6 ">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register"><b>Sign Up</b></a>
                    </li>
                </ul>
            </div>


            <div class="card-content">
                <div class=" col-md 12">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h4 class="mt-2">Create a new account.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="text-center m-2" id="imagePreview"></div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" onchange="return fileValidation()" required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose photo</label>
                            
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control"  />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.CreditCard"></label>
                            <input asp-for="Input.CreditCard" class="form-control" onkeyup="javascript: cardnumberval()" id="cardnum" />
                            <span asp-validation-for="Input.CreditCard"  id="cardVal" style="color:red"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" onkeyup="javascript:validateEmail()" id="email"/>
                            <span asp-validation-for="Input.Email"  id="emailVal" style="color:red"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" onkeyup="javascript:validatePswd()" id="password" class="form-control" />
                            <span asp-validation-for="Input.Password" id="passwordVal" style="color:red"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" onkeyup="javascript:validateConfirmPswd()" id="confirmPswd" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" id="passwordConfirmVal" style="color:red"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.DOB"></label>
                            <input asp-for="Input.DOB" class="form-control" />
                            <span asp-validation-for="Input.DOB" class="text-danger"></span>
                        </div>
                        <input type="hidden" name="captcha" id="captchaInput" />
                        <button type="submit" class="btn btn-primary mt-3 mb-3 float-right">Register</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
    <script>
        grecaptcha.ready(function() {
            window.grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'home' }).then(function (token) {
                $("#captchaInput").val(token);
            });
        });
    </script>
    <script>
    function fileValidation(ctrl) {
        var fileUpload = $("#validatedCustomFile")[0];
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif|.jpeg)$");
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        console.log(this);
                        if ((height <= 500) && (width <= 500)) {
                            if (fileUpload.files && fileUpload.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    document.getElementById(
                                        'imagePreview').innerHTML =
                                        '<img src="' + e.target.result
                                        + '"/>';
                                };

                                reader.readAsDataURL(fileUpload.files[0]);
                            }

                        }
                        else {

                        alert("Height and Width must not exceed 500*500.");
                        return false;
                        }
                    };
                }
            } else {
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            alert("Please select a valid Image file.");
            return false;
        }
    }

    </script>
}
